#!/bin/bash
echo "Setting up Databases for microservices.."
echo "..."

docker-compose up db_server & sleep 15

{{#services}}
echo "Setting up {{.}} database"
docker exec my_postgres psql -U postgres -c "create database {{.}}_db"
echo "..."
{{/services}}

echo "Initializing tables and values into Databases"
echo "..."

{{#services}}
echo "Running {{.}} DB Script"
python {{.}}-init.py
echo "..."
{{/services}}

echo "Done."