#!/usr/bin/env python
from flask import Flask
import requests
app = Flask(__name__)

{{#operations}}
@app.route('{{path}}')
def {{name}}({{#parameters}}{{param_name}},{{/parameters}}):
    microservice_response = requests.{{request_method}}(
        {{#parameters}}{{param_name}},{{/parameters}}
    )
    return microservice_response


{{/operations}}


if __name__ == "__main__":
    app.run()
